<div style="padding: 50px">
  <button class="btn btn-danger" (click)="addFactura()">Adauga factura</button>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtru">
  </mat-form-field>

  <table mat-table [dataSource]="facturi" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id</th>
      <td mat-cell *matCellDef="let factura"> {{factura.id}}</td>
    </ng-container>

    <ng-container matColumnDef="serie">
      <th mat-header-cell *matHeaderCellDef> Serie</th>
      <td mat-cell *matCellDef="let factura"> {{factura.serie}}</td>
    </ng-container>

    <ng-container matColumnDef="nume">
      <th mat-header-cell *matHeaderCellDef> Nume</th>
      <td mat-cell *matCellDef="let factura"> {{factura.nume}}</td>
    </ng-container>

    <ng-container matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef> Data</th>
      <td mat-cell *matCellDef="let factura"> {{factura.dataCrearii}}</td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef> Total</th>
      <td mat-cell *matCellDef="let factura"> {{factura.total}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
  </table>
</div>
