<nb-layout>

  <nb-layout-header fixed>
  <!-- Insert header here -->
  </nb-layout-header>

  <nb-layout-column>

    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span class="menu-spacer"></span>
        <div>
          <button mat-icon-button class="mat-icon-rtl-mirror" [routerLink]="'/home'">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
          </button>
          <a mat-button [routerLink]="'/factura'"> Factura </a>
<!--          <a mat-button [routerLink]="'/anexafactura'"> Anexa Factura </a>-->
        </div>
      </mat-toolbar-row>
    </mat-toolbar>

    <router-outlet></router-outlet>


  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
