<mat-form-field>
  <label for="nume">Nume:</label>
  <input matInput [(ngModel)]="cumparator.nume" id="nume">
</mat-form-field>
<mat-form-field>
  <label for="cif">CIF:</label>
  <input matInput [(ngModel)]="cumparator.cif" id="cif">
</mat-form-field>
<mat-form-field>
  <label for="cui">CUI:</label>
  <input matInput [(ngModel)]="cumparator.cui" id="cui">
</mat-form-field>

<mat-form-field>
  <label for="adresa">Adresa:</label>
  <input matInput [(ngModel)]="cumparator.adresa" id="adresa">
</mat-form-field>

<mat-form-field>
  <mat-label>Judet</mat-label>
  <mat-select [(ngModel)]="cumparator.judetul" name="value" [ngModelOptions]="{standalone: true}">
    <mat-option *ngFor="let j of judete" [value]="j">
      {{j}}
    </mat-option>
  </mat-select>
</mat-form-field>


<div>
  <button mat-button (click)="onNoClick()">Renunta</button>
  <button mat-button (click)="saveCumparator()">Salveaza</button>
</div>
