<div class="row" style="padding: 10px">
  <div class="col-md-4 factura-container text-center">
    <h2>Selecteaza Client</h2>
    <form class="text-center" [formGroup]="addForm">
      <mat-form-field>
        <mat-select [(ngModel)]="selectedValue" name="value" [ngModelOptions]="{standalone: true}">
          <mat-option *ngFor="let c of cumparatori" [value]="c">
            {{c.nume}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <button class="btn btn-success" mat-raised-button (click)="openDialog()">Adauga client nou</button>
  </div>

  <div class="col-md-4 user-container">
    <h2>Adauga factura</h2>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
      <div class="form-group col-md-6">
        <label for="serie">Serie:</label>
        <input type="text" formControlName="serie" placeholder="serie" name="serie" class="form-control" id="serie">
      </div>
      <div class="form-group col-md-6">
        <label for="total">Total:</label>
        <input type="total" formControlName="total" placeholder="total" name="total" class="form-control" id="total">
      </div>

      <div class="form-group col-md-6">
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Data Crearii:" formControlName="dataCrearii">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker startView="month"></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="form-group col-md-4">
        <button class="btn btn-success">Add</button>
      </div>
    </form>
  </div>

  <div class="col-md-4 user-container">
    <h2>Anexa factura</h2>
    <button class="btn btn-info" (click)="adaugaAnexa()">Adauga</button>

  </div>

</div>
